@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap');

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f5f3;
  margin: 0;
  padding: 0;
}

.patient-data-form {
  max-width: 2000px; /* Increased max-width for the form */
  width: 1000px; /* Ensure form scales with screen size */
  /* margin: 90px; */
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #0a4b3e;
  height: 100vh;
  overflow: scroll;
}

.patient-data-form h3 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #0a4b3e;
}

.patient-data-form h4 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #0a4b3e;
  font-weight: bold;
}

.patient-data-form label {
  display: block;
  margin-bottom: 5px;
  color: #0a4b3e;
}

.patient-data-form input[type="text"],
.patient-data-form input[type="date"],
.patient-data-form input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #d1e0dc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1em;
  color: #0a4b3e;
  justify-content: center;
  align-items: center;
}
.patient-data-form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #d1e0dc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1em;
  color: #0a4b3e;
  justify-content: center;
  align-items: center;
}
.patient-data-form button {
  width: 70%; /* Increase button width for a wider appearance */
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #0a4b3e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Add some margin to separate button from input fields */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.patient-data-form button:hover {
  background-color: #083b31;
}
.link-stuff{
  text-decoration: underline;
}